body {
    background-color: #3C2459;
}
h1 {
    color: white;
    text-align: center;
}
a,p {
    font-family: verdana;
    color: #FFFFFF;
    font-size: 20px;
}
div#mainsec {
    padding: 100px;
    text-align: center;
}
img#ebcont-logo {
    position: relative;
    top: 50px;
    left: 50px;
    width: 120px;
}
.fixme {
    color: #FF0000 !important;
}